.employee--details {
  margin-top: 40px;
}

.employee--details .detail--text {
  color: #0f559a;
  font-weight: 600;
  font-size: 2rem;
}

.list--text {
  color: #0f559a;
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

select {
  font-size: 1.2rem;
  font-weight: 600;
}

.submit--button {
  margin-top: 30px;
  padding-left: 15px;
  width: 100%;
  text-align: center;
}

.btn-primary[type='submit']:disabled{
  background-color: #bfc7cc;
  border: 1px solid #bfc7cc;
  color: white;
  border-radius: 2px;
}

.btn-primary {
  padding: 10px;
  background-color: #173754;
  width: 200px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #173754;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: white;
  border: 1px solid #173754;
  color: #0f559a;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.selected--value {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #0f559a;
}

.selected--value span {
  color: #173754;
  font-style: italic;
}

.compare--wrapper canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}
