<div class="employee--details">
  <p class="detail--text">Leaderboard</p>
  <hr>
  <table class="table table-striped leaderboard--table">
    <thead>
    <tr>
      <td>Rank</td>
      <td>Name</td>
      <td>Points In Q4</td>
      <td>All Time Points</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employeeScoreDict; let i = index">
      <td> {{ i+1 }}</td>
      <td> <a routerLink="/detail/{{employee.id}}">{{ employee.name }}</a></td>
      <td> {{ employee.lastQuarterScore }}</td>
      <td> {{ employee.totalscore }}</td>
    </tr>
    </tbody>
  </table>

  <p class="detail--text margin--top align--center">Graphical Representation of Leaderboard</p>
  <br>
  <div style="width: 80%">
    <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="false">
    </canvas>
  </div>
</div>
